h1 {
  color: #143180;
  text-align: center;
  align: center;
}
body {
  background-color:#00C5BB;
}

#welcome {
  background-color: white;
  font-family: impact;
  color:#143180;
}

p {
  color:white;
  text-align:left;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #143180;
    color: white;
}

h2 {
color: white;
text-align: center;
align: center;
}
#container {
  border:dotted #3152AB 7px;
}
#hello {
 float:left;
 border-style: solid;
 border-color: #143180;
}
#hi {
  position: absolute;
  border-style: solid;
  border-color: #143180;
  top: 110px;
  right:10px;
}
h3 {
  color:#143180;
}

ul {
  color:white;
}

h4 {
  color:white;
}

a {
  color:white;
}

button {
  background-color:white;
  color:#143180;
  font-family: impact;
}
